html{overflow-x: hidden;}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 
    background-color: #fffefc;
    margin-top: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b0c4de;
    padding: 1em 2em;
    border-bottom: 0.1em solid #87a2c4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
main { flex:1 }

.logo-title {
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.logo-title h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #2a4f6c;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo img {
    height: 3.125em;
    width: auto;
}

#navigation-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#navigation {
    display: flex;
    gap: 2.2em;
}

#navigation a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2a4f6c;
    background-color: #d7e3f4;
    font-size: 1.125em;
    font-weight: bold;
    border: 0.0625em ridge #87a2c4;
    padding: 0.625em 1.25em;
    border-radius: 1.5625em;
}

#navigation a:hover {
    background-color: #d7e3f4;
    color: rgb(150, 130, 143);
}

.dropdown select {
    padding: 0.625em 1.25em;
    font-size: 1.125em;
    font-weight: bold;
    background-color: #d7e3f4;
    border: 0.0625em solid #87a2c4;
    color: #2a4f6c;
    border-radius: 1.5625em;
    appearance: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dropdown label{
    display: none;
}

.dropdown select:hover {
    background-color: #d7e3f4;
    color: #2a4f6c;
}

#HomePageMain {
    margin-top: 3.125em;
    padding-bottom: 3.125em;
    padding: 1.25em;
}

.h2Uni {
    padding: 0.625em 1.25em;
    display: inline-block;
    font-weight: bold;
    border-radius: 0.3125em;
    margin: 0;
    border: 0.0625em ridge #87a2c4;
    background-color: #b0c4de;
}

.offers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
}

.offers-container {
    display: flex;
    gap: 1%;
    width: 100%;
    height: 30%;
    margin: 2% auto;
}

.offer {
    width: 15%;
    text-align: center;
    border: 0.125em solid #f0f0f0;
    padding: 1.25em;
    border-radius: 0.625em;
    background-color: #fff;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.offer h3{
    color: #2a4f6c;
}
.reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
    margin-top: 1%;
}

.custReview-container {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    width: 100%;
    margin: 2% auto;
    height: 30%;
}

.custReview {
    width: 28%;
    height: 7em;
    text-align: left;
    border: 0.125em solid #f0f0f0;
    padding: 1.25em;
    border-radius: 0.625em;
    background-color: #fff;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    position: relative;
}

.custReview h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    color: #2a4f6c;
    border: 0.0625em ridge #87a2c4;
    background-color: #b0c4de;
    border-radius: 20%;
    padding: 0.3125em;
    position: absolute;
    bottom: 0.625em;
    right: 0.625em;
    width: auto;
    text-align: center;
}

.category-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em; /* Adjust as necessary */
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 2em;
 }
 
 .half-circle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%; /* Adjust for the size of the curve */
    background-color: #b0c4de; /* Light beige-pink color */
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    z-index: -10;
 }
 

.categories-container {
    display: flex;
    gap: 3.125em;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #2a4f6c;
    font-weight: bold;
    font-size: 1.125em;
}

.category img {
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
    object-fit: cover;
    border: 0.125em solid #f0f0f0;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.category img:hover {
    transform: scale(1.1);
}

footer {
    flex-shrink: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #b0c4de;
    border-top: 0.125em solid #87a2c4;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    padding: 1em 2em;
    font-size: 1em;
    color: #2a4f6c;
    width: 100%;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.footer-left img {
    width: 1.25em;
    height: 1.25em;
}

.footer-right {
    font-weight: bold;
    margin-right: 3.125em;
}

#UserPageMain {
    padding: 1.25em;
    margin-top: 5.625em;
}

.UserPage {
    display: flex;
    justify-content: space-around;
    padding: 12.5em;
    border: 0.0625em ridge #87a2c4;
}

.UserInfo {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.ProfilePicture {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    background-color: #ccc;
    background-image: url(images/profile.svg);
    background-position: center;
    background-size: 15.625em;
    border: 0.125em ridge #87a2c4;
}

.UserDetails {
    font-size: 1.25em;
}

.UserLinks {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
}

.LinkButton {
    display: inline-block;
    padding: 1.25em 2.5em;
    border: 0.0625em ridge #87a2c4;
    text-decoration: none;
    color: #2a4f6c;
    border-radius: 1.5625em;
    background-color: #b0c4de;
}

.LinkButton:hover {
    background-color: #d7e3f4;
    color: #2a4f6c;
}

dl {
    border: 0.0625em solid #87a2c4;
    padding: 0.625em;
    width: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.625em;
    border-radius: 0.3125em;
    background-color: #b0c4de;
}

dt {
    font-weight: bold;
    font-size: 1.5625em;
    color: #2a4f6c;
}

dd {
    margin-left: 1.25em;
    font-size: 0.9375em;
    text-align: center;
}

.sort-container {
    margin-left: 9%;
    margin-top: 8%;
}

#sortNamePrice {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.625em;
    font-size: 1.125em;
    font-weight: bold;
    background-color: #d7e3f4;
    border: 0.0625em solid #87a2c4;
    color: #2a4f6c;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(82, 59, 59, 0.1);
    position: relative;
}

.ulCategory {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
    list-style-type: none;
}

.products-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
    margin-left: 7%;
    gap: 1.25em;
}

.product-card {
    border: 0.0625em solid #ddd;
    border-radius: 0.625em;
    padding: 0.9375em;
    background-color: #fff; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    text-align: left; 
    width: 15.625em;
    height: 26.25em;
    margin: 2% 1%;
    position: relative; 
}

.product-image {
    width: 100%;
    height: 12.5em;
    object-fit: cover;
    border-radius: 0.3125em;
}

.product-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.625em 0;
    color: #2a4f6c;
}

.product-rating {
    color: #2a4f6c;
    font-size: 1.25em;
    margin: 0.3125em 0;
}

.product-price {
    font-size: 1.125em;
    font-weight: bold;
    margin: 0.3125em 0;
    color: #2a4f6c;
}

.product-seller {
    font-size: 0.875em;
    color: #666;
    margin: 0.3125em 0;
}

.add-to-cart {
    border: 0.0625em ridge #87a2c4;
    background-color: #d7e3f4;
    padding: 0.625em;
    border-radius: 0.3125em;
    cursor: pointer;
    position: absolute;
    bottom: 0.9375em;
    right: 0.9375em;
}

.add-to-cart:hover {
    border: 0.0625em ridge rgb(142, 194, 181);
    background-color: rgb(170, 218, 206);
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 0.625em 1.25em;
    font-weight: bold;
    font-size: 1em;
    color: #2a4f6c;
    border: 0.0625em solid #87a2c4;
    background-color: #b0c4de;
    position: fixed;
    top: 4.375em;
    left: 0;
    width: 100%;
    z-index: 1;
}

.breadcrumb a {
    text-decoration: none;
    color: #2a4f6c;
}

.breadcrumb a:hover {
    color: #e4a3a3;
}

.breadcrumb span {
    color: #995a5a;
}

/* Add a new product */
#AddNewProductMain {
    padding: 1.25em; 
    margin-top: 7.5em; 
}

.AddProductContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em; 
}

.AddProductContainer > div {
    padding: 0.9375em; 
    border: 0.0625em ridge #87a2c4; 
    border-radius: 0.625em; 
}

.generalInfo {
    width: 95%;
    padding: 0.625em; 
    margin-top: 0.625em;
    margin-bottom: 1.25em; 
    border: 0.0625em ridge #87a2c4; 
    border-radius: 0.3125em; 
}

.price-stock {
    display: flex;
    gap: 1.25em; 
}

.price-stock > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#stock {
    padding-top: 2.125em; 
    margin-top: 2.0625em; 
}

.price-stock label {
    margin-bottom: 0.3125em; 
}

.PriceAndStock {
    width: 90%;
    padding: 0.625em;
    margin-top: 0.625em; 
    margin-bottom: 1.25em;
    border: 0.0625em ridge #87a2c4; 
    border-radius: 0.3125em; 
}

#AddProductTextarea {
    height: 6.25em; 
}

.upload-imageProduct {
    border: 0.125em dashed #87a2c4; 
    text-align: center;
    padding: 5em;
    cursor: pointer;
}

.ProductAddImageFile {
    width: 50%;
    margin-left: 10.625em;
}

.ProductAddImageFile label {
    display: none;
}

#AddProductCategory {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    padding: 0.625em;
    border: 0.0625em ridge #87a2c4;
    border-radius: 0.3125em;
}

.FormFooter {
    margin-top: 1.25em;
    text-align: right;
}

#AddProductBtn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.625em 1.25em; 
    background-color: #b0c4de;
    color: #2a4f6c;
    border: 0.0625em ridge #87a2c4; 
    font-size: 1em;
    font-weight: bold;
    border-radius: 1.5625em; 
    cursor: pointer;
}

/* Make Or Delete Offer */
#MakeDelOfferMain {
    padding: 1.25em; 
    margin-top: 7.5em; 
}

.h2Off {
    padding: 0.625em 1.25em;
    display: inline-block;
    font-weight: bold;
    border-radius: 0.3125em;
    margin: 0;
    border: 0.0625em ridge #87a2c4;
    background-color: #b0c4de;
    margin-bottom: 1.25em;
}

.sellerOff {
    border: 0.0625em ridge #87a2c4; 
    padding: 0.625em 1.25em; 
    display: inline-block;
    font-weight: bold;
    border-radius: 0.3125em; 
    background-color: #d7e3f4;
    margin: 0;
    margin-bottom: 1.25em; 
}

.SellerOffers {
    display: flex;
    padding: 1.25em 1.25em 4.375em 1.25em; 
    border: 0.0625em ridge #87a2c4; 
    gap: 1.25em; 
    margin-bottom: 2.5em; 
    position: relative;
}

.offer img {
    width: 6.25em;
    height: 6.25em; 
    background-color: #eaeaea;
    display: block;
    margin: 0 auto 0.625em; 
}

.offer label {
    display: block;
    margin-bottom: 0.3125em; 
}

.offer input[type="checkbox"] {
    margin-top: 0.625em; 
}

#DeleteBtn {
    padding: 0.625em 1.5625em; 
    background-color: #b0c4de;
    color: #2a4f6c;
    border: 0.0625em ridge #87a2c4; 
    font-size: 1em; 
    font-weight: bold;
    border-radius: 1.5625em; 
    cursor: pointer;
    position: absolute;
    bottom: 5%; 
    right: 3.125em; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.offerInfo {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#AddBtn {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.625em 1.5625em; 
    background-color: #b0c4de;
    color: #2a4f6c;
    border: 0.0625em ridge #87a2c4; 
    font-size: 1em; 
    font-weight: bold;
    border-radius: 1.5625em; 
    cursor: pointer;
    position: absolute;
    bottom: 5%; 
    right: 3.125em; 
}

.addOff {
    border: 0.0625em ridge #87a2c4;
    padding: 0.625em 1.25em; 
    display: inline-block;
    font-weight: bold;
    border-radius: 0.3125em; 
    background-color: #d7e3f4;
    margin: 0;
    margin-bottom: 1.25em; 
}

.OfferFormContainer {
    display: flex;
    gap: 1.25em; 
    margin-bottom: 3.125em; 
}

.OfferFormContainer > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.upload-image {
    display: flex;
    margin-left: 6.25em; 
    margin-bottom: 0.625em; 
    border: 0.125em dashed #87a2c4; 
    text-align: center;
    padding: 3.125em; 
    cursor: pointer;
}

.OfferAddImageFile {
    width: 50%;
    margin-left: 10.625em;
}

#OfferTextarea {
    height: 5em; 
}

.add-offer-form {
    border: 0.0625em ridge #87a2c4; 
    padding: 1.25em; 
    gap: 1.25em; 
    position: relative;
}

.add-offer-form input, .add-offer-form textarea {
    width: 110%;
    padding: 0.625em; 
    margin: 0.625em 0; 
    border: 0.0625em ridge #87a2c4; 
    border-radius: 0.25em;
}

/* OrderEval */
.Stars img {
    height: 1.5em; 
    width: 1.5em; 
}

.stars-box {
    border: 0.125em solid #ddd; 
    border-radius: 0.3125em;
    margin-right: 1.5625em; 
}

#star {
    display: flex;
    justify-content: center;
    gap: 0.5em; 
    margin-top: 1em; 
    padding: 0.625em; 
}

#OrderEval {
    padding: 3% 2%;
    margin-top: 6%;
}

.Stars {
    list-style-type: none;
    margin: 0; 
    display: inline-block; 
}

#Order {
    position: absolute;
    right: 0; 
    top: 0; 
    margin-top: 0.0625em; 
    margin-left: 1.25em; 
}

.container-Eval {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em; 
    border: 0.125em solid #ddd; 
    margin: 1.25em; 
    padding: 6.25em; 
}

.Products-Eval {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1.25em; 
    margin-top: 1.25em;
    border: 0.125em solid #ddd; 
    margin: 1.25em; 
    padding: 3.75em; 
    margin-bottom: 1.25em; 
}

.Product-Eval {
    border: 0.0625em solid #ddd; 
    padding: 1.8125em; 
    background-color: #fff;
    border-radius: 0.625em; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default */
    flex-direction: column;
    justify-content: space-between;
    width: 15.625em; 
}


.Product-Eval img {
    width: 50%;
    height: 9.375em;
    object-fit: cover;
    margin-bottom: 0.625em; 
    background-color: #f0f0f0;
    border-radius: 0.3125em; 
}

.Product-Eval h3 {
    font-size: 1.125em; 
    margin-bottom: 0.625em; 
}

.Product-Eval p {
    font-size: 0.875em; 
    color: #666;
    margin-bottom: 0.625em; 
}

.Product-details {
    display: flex;
    gap: 0.9375em;
    align-items: flex-start;
    margin-top: 1.25em; 
    border: 0.125em solid #ddd; 
    margin: 1.25em; 
    padding: 2%;
}

.upload-image-eval {
    border: 0.125em dashed #87a2c4; 
    width: 70%;
    height: 8em; 
    text-align: center;
    margin-top: 2%;
    padding: 5em; 
    cursor: pointer;
}

.feedback-section {
    width: 80%;
}

.feedback {
    width: 95%;
    height: 10em; 
    margin-top: 1em; 
    border: 0.0625em solid #ddd; 
    border-radius: 0.3125em; 
    padding: 0.625em; 
}

#Submit-feedback {
    float: right;
    margin-right: 0.625em; 
    padding: 0.3125em 1.25em; 
    margin-top: 0.625em;
    background-color: #b0c4de;
    color: #2a4f6c;
    border: 0.0625em ridge #3d3d3d; 
    font-size: 0.9375em; 
    font-weight: bold;
    border-radius: 1.5625em; 
    cursor: pointer;
}

/* Responsive Product Section */
.Products-s {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1.25em;         
    margin-top: 2.5em;   
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

/* Product Card Styling */
.Product-s {
    border: 0.063em solid #ddd;
    padding: 1.25em;
    background-color: #fff;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 15.625em;
    min-width: 15.625em;
    flex-shrink: 0;
}

.Product-s img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    margin-bottom: 0.625em;
    background-color: #f0f0f0;
    border-radius: 0.313em;
}

.Product-s h3 {
    font-size: 1.125em;
    margin-bottom: 0.625em;
    color: #2a4f6c;
}

.Product-s p {
    font-size: 0.875em;
    color: #666;
    margin-bottom: 0.625em;
}

.price {
    font-size: 1em;
    font-weight: bold;
}

.price-quan {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* Buttons Container */
.buttons-s {
    margin-top: 1.25em;
    display: flex;
    justify-content: flex-end;
    gap: 0.625em;
}

.buttons-s a {
    text-decoration: none;
    padding: 0.625em 1.25em;
    border: 0.0625em ridge #87a2c4;
    background-color: #b0c4de;
    border-radius: 1.5625em;
    cursor: pointer;
    font-size: 0.9375em;
    font-weight: bold;
    color: #2a4f6c;
    transition: background-color 0.3s ease;
}

.buttons-s a:hover {
    background-color: #d7e3f4;
}

/* Order History */
.Orders-His {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25em;
    margin-top: 3.125em;
    margin-right: 2.5em;
    margin-left: 2.5em;
    border: 0.125em solid #ddd;
    padding: 0.9375em;
    border-radius: 0.625em;
}

.Order-His {
    border: 0.0625em solid #ddd;
    padding: 1.25em;
    background-color: #fff;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15.625em;
}

.Order-His img {
    width: 50%;
    height: 9.375em;
    object-fit: cover;
    margin-bottom: 0.625em;
    background-color: #f0f0f0;
    border-radius: 0.3125em;
}

.Order-His h3 {
    font-size: 1.125em;
    margin-bottom: 0.625em;
    color: #2a4f6c;
}

.PriceH {
    font-size: 0.9375em;
    font-weight: bold;
    text-align: left;
    color: #2a4f6c;
}

.DateH {
    font-size: 0.875em;
    font-weight: bold;
    text-align: left;
    color: #2a4f6c;
}

#OrderHistory {
    padding: 3% 2%;
    margin-top: 6%;
}

/* View Cart */
#ViewCartMain {
    padding: 1.875em;
    margin-top: 6.25em;
}

#allContainer {
    display: flex;
}

#itemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.25em;
}

.cart-item {
    display: flex;
    border: 0.0625em ridge #87a2c4;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    padding: 0.9375em;
    margin-bottom: 0.9375em;
    position: relative;
}

.Cart-product-image {
    width: 6.25em;
    height: 6.25em;
    object-fit: cover;
    margin-right: 0.9375em;
    float: left;
}

.quanDescrip {
    display: flex;
    flex-direction: column;
}

.CartQuantity {
    display: flex;
}

.CartQuantity > input {
    width: 5%;
    text-align: center;
}

.CartQuantity button {
    margin: 0 0.3125em;
}

.clearItem {
    position: absolute;
    bottom: 1.25em;
    right: 1.25em;
    border: 0.0625em ridge #87a2c4;
    background-color: #d7e3f4;
    padding: 0.625em;
    border-radius: 0.3125em;
    cursor: pointer;
}

.clearItem:hover {
    border: 0.0625em ridge rgb(142, 194, 181);
    background-color: rgb(170, 218, 206);
}

.priceCart {
    position: absolute;
    right: 1.25em;
    color: #2a4f6c;
}

.cartSum {
    margin-left: 1.875em;
}

.summary {
    display: flex;
    flex-direction: column;
    border: 0.0625em ridge #87a2c4;
    height: 15.625em;
    margin-top: 1.25em;
    width: 15.625em;
    padding: 2.5em;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #d7e3f4;
}

.summary .row {
    display: flex;
    justify-content: space-between;
    margin: 0.625em 0;
    font-size: 1em;
}

.summary button {
    padding: 0.625em 1.5625em;
    background-color: #b0c4de;
    color: #2a4f6c;
    border: 0.0625em ridge #87a2c4;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1.5625em;
    cursor: pointer;
    margin-top: 3.125em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.empty-cart {
    margin-top: 1.875em;
    margin-left: 5.625em;
    padding: 0.625em 1.5625em;
    background-color: #b0c4de;
    color: #2a4f6c;
    border: 0.0625em ridge #87a2c4;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1.5625em;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sort-container label {
    display: none;
}

.OfferAddImageFile label {
    display: none;
}

.hidden {
    display: none;
}

#navigation-container, .categories-container {
    flex-wrap: wrap;
}

#WeekDate {
    padding: 1em;                                                            
    text-align: center;                 
    font-size: 1.1em;   
    font-weight: bold;                
    color: #2a4f6c;                    
    z-index: 1;
}

.offers-wrapper {
    position: relative;
    padding-bottom: 2em; /* Add some padding to avoid overlap with the button */
}

.toggle-button {
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    background-color: transparent;
    border: none;
    color: #2a4f6c;
    font-weight: bold;
    transition: color 0.3s ease;
}

.tooltip {
    position: absolute;
    background-color: #b0c4de;
    border: 1px solid #87a2c4;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 220px;
    font-size: 0.9em;
    color: #333;
    z-index: 10;
}

@media (max-width: 1024px) {
    header {
        padding: 0.5em 1em;
    }

    .logo-title h1 {
        font-size: 1.2em;
    }

    #navigation a {
        font-size: 1em;
        padding: 0.5em 1em;
    }

    .offers-container, .custReview-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }

    .offer, .custReview {
        width: 45%;
        margin: 1% 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
        padding: 1em;
        gap: 1em;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #navigation {
        flex-direction: column;
        gap: 1em;
    }

    #logo img {
        height: 2.5em;
    }

    .offers-wrapper, .reviews-wrapper, .category-section {
        width: 100%;
        padding: 1em;
    }

    .category-section {
        background-size: cover;
        height: auto;
        margin-top: 0;
    }

    .categories-container {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .offer, .custReview {
        width: 100%;
    }

    footer {
        padding: 1em;
        text-align: center;
        gap: 0.5em;
    }
}

#toggle-theme-button {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2a4f6c; /* Text color */
    background-color: #d7e3f4; /* Light blue background */
    font-size: 1.125em;
    font-weight: bold;
    border: 0.0625em ridge #87a2c4; /* Blue border */
    padding: 0.625em 1.25em;
    border-radius: 1.5625em;
    margin-right: 5em;
}

#toggle-theme-button:hover {
    background-color: #b0c4de; /* Darker blue background on hover */
    color: #2a4f6c; /* Text color on hover */
    border-color: #87a2c4;
}



@media (max-width: 480px) {
    body {
        margin-top: 4em;
        font-size: 0.9em;
    }

    .logo-title h1 {
        font-size: 1em;
    }

    #navigation a {
        font-size: 0.8em;
        padding: 0.5em 0.8em;
    }

    #HomePageMain {
        padding: 1em;
    }
}